/*font-family: 'League Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Montserrat:wght@100&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/*Footer Section*/
body {
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
}
header {
    padding: 0;
    text-align: center;
    font-size: 30px;
    list-style-type: none;
}
#logo{
    text-decoration: none;
    color: #DD818E;
}
#logo h1 {
    display: inline;
    font-weight: normal;
    font-family: 'League Script', cursive;
    font-size: 150px;
    text-align: center;
}
#sub-head {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #4B2921;
    letter-spacing: 4px;

}

  
/*NAV section*/
#nav {
    padding-inline-start: 0;
    font-size: 50%;
    padding: 40px;
}
#nav li {
    display: inline-block;
}
#nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #4B2921;
    text-decoration: none;
    margin: 30px;
    font-size: 120%;
}
#nav a:hover {
    border-bottom: 1px double #F3ECED;
}
.active {
    border-bottom: 1px solid #F3ECED;
}
/*Main image and Slogan*/
figure {
    margin:0;
}
#logo-img {
    background: url("../images/IMG_6938.jpeg") no-repeat center center;
    background-size: 100%;

    background-position-y: 20px;
    height: 600px;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
}


/*Section 1- About ME*/


.aside{
    float: right;
    background-color: #FBF8F8;
    width: 20%;
    position: relative;
    top: 40px
}
.aside h2 {
    text-align: center;
    padding: 10% 20% 5% 20%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #DD818E;
    text-transform: uppercase;
}
#aside-photo {
    background: url("../images/jasmin.jpg") no-repeat center center;
    background-size: 100%;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 50%;
    
}
.aside h4 {
    font-family: 'Montserrat', sans-serif;
    color: #4B2921;
    font-weight: 500;
}
.aside p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #4B2921;
    padding-right: 40px;
}

/*First Left Section*/
#first-section {
    height: 800px;
    background-color: #FBF8F8;
    margin-top: 5%;
}
.first-left {
    float: left;
    width: 80%;
    height: auto;
    display: block;
}
.first-left h1 {
    margin-left: 20px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 70%;
    display: block;
    text-align: center;
    font-size: 80px;
}
#mint-cake {
    background:url("../images/mintcake-yellow-wall.jpeg") no-repeat center center;
    margin-left: 5%;
    height: 350px;
    width: 300px;
    background-size: 170%;
    background-position-y: -15em;
    /*background-size: 180%;
    background-position-y: -17em;
    border-radius: 1%;
    margin-left: 20px;*/
}
#cookie {
    background: url("../images/blueberrycookie.PNG") no-repeat center center;
    height: 350px;
    width: 300px;
    background-size: 100%;
    
}
#tart {
    background: url("../images/tart.jpeg") no-repeat center center;
    height: 350px;
    width: 300px;
    background-size: 100%;

}
#mint-cake, #cookie, #tart {
    display: inline-block;
    margin-right: 1px;
    column-count: 3;

}
#for-recipes a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    float: right;
    text-decoration: none;
    color: #4B2921;
    margin-top: 40px;
}

#for-recipes a:hover {
    font-weight: bold;
}

/*Second Section */
.second-section {
    height: 600px;
    margin: 5%;
    padding-top: 7%;

}
.second-section h1 {
    float: right;
    display: block;
    width: 50%;
    font-weight: 300;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    margin: 0;
    font-size: 80px;
}

 #three-cake {
    background: url("../images/3cakenew.jpeg") center center;
    height: 400px;
    width: 600px;
    background-size: 33.3%;
 }
 div #pastry-student {
    display: inline-block;
    float: right;
 }
 #pastry-student a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    float: right;
    text-decoration: none;
    color: #4B2921;
 }
 #pastry-student a:hover {
    font-weight: bold;
 }

 /*Footer*/
 footer {
    background-color: #D6BAAE;
    height: auto;
    bottom: 0;
    width: 100%;
 }

 .vertical-nav #nav {
    font-size: 120%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
 }
 .media {

 }
 #last-logo {
    text-align: center;
    font-family: 'League Script', cursive;
    font-size: 40px;
    padding-top: 1px;
    display: inline;
 }
 ul #nav {
    margin-top: 0;
    padding-top: 0;
 }
 #last-logo h3 {
    margin-bottom: 0;
    padding-top: 2%;
 }
 #last-logo h5 {
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    letter-spacing: 4px;
 }
 .media {
    text-align: center;
 }
 .media >li {
    display: inline;
 }
 .media i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    padding-top: 0;
    padding-bottom: 0;
 }
 #follow {
    display: inline;
    text-align: center;
 }
 #follow p{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 70%;
 }

 /*Form*/
 .form-section{
    clear: left;
    background: url("../images/gentlecake.JPG");
    background-position-y: 60%;

    background-size: cover;
    height: 1000px;
 }
 .contact {
    font-family: 'Montserrat', sans-serif;
    margin: 280px 2% 0 0;
    color:  #FBF8F8;
    background-color: rgba(60, 60, 60, 0.4);
    max-width:400px;
    position:absolute;
    left: 2%;
    padding:30px;
 }
 .contact >h2 {
    color:  #FBF8F8;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;

 }
.form-input {
    background: transparent;
    color:#FBF8F8;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #FBF8F8;
    border-radius: 2px;
}
.form-input:hover {
    border-color: #D6BAAE;
}
#text-area {
    background: transparent;
    color:#FBF8F8;
    width: 100%;
    border: 1px solid #FBF8F8;;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0 20px 0;
}
#text-area:hover {
    border-color: #D6BAAE;
}
.send-button {
    margin-top: 20px;
    border-radius: 15%;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size:100%;
    background-color: #4B2921;
    color: #fafafa;
    display:block;
}
.send-button:hover{
    background-color: #F3ECED;
    color: #4B2921;
}

/*Recipes section*/

.first-recipy {
    margin: 5% 0;
}
.first-recipy h1 {
    text-align: center;
    text-align: center;
    font-family: 'League Script', cursive;
    font-weight: 300;
    font-size: 80px;
    font-style: italic;
    margin-bottom: 0;
}

.recipy-p{
    background-color: #FBF8F8;
}
.recipy-p p {
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 0.5px;
}

.recipy-p div{
    float: right;
    width: 50%;
    margin: 20px 5%;
}

#fraisier{
    object-fit: cover;
    height: 350px;
    width: 30%;
    margin-left: 5%;
}
.recipy-p div a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #3a3a3a;
}
.recipy-p div a:hover {
    font-size: 20px;
    font-weight: bold;
}


/*Pastry Student*/
.blog {
    margin: 5% 0;
}
.blog h1 {
    font-family: 'Montserrat', sans-serif;
    color: #F1C6C3;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: -30px;
    text-align: center;
}

.first-post{
    background-color: #FBF8F8;
    height: 500px;
}
.first-post p {
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 0.5px;
}

.first-post div{
    float: left;
    width: 60%;
    margin: 5% 5%;
    text-align: -webkit-right;
}

#cups{
    height: 350px;
    width: 20%;
    float: right;
    object-fit: contain;
    margin: 5% 5%;
}
#bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 30px;
    margin: 8% 0% 0% 0;
}
#tools{

}
.first-post div a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #3a3a3a;
}
.first-post div a:hover {
    font-size: 20px;
    font-weight: bold;
} 
/*Media Query- mid screen*/

@media screen and (max-width: 1250px) {
    #logo-img{
        background-attachment: initial;
    }
    #first-section{
        height: 600px;
        margin: 10% 1%;

    }
    .first-left {
        width: 100%;
    }
    .first-left h1 {
        text-align: left;
        width: 100%;
        font-weight: 300;
        margin: 20px 0 0;
        font-size: 60px;


    }
    .aside {
        display: none;
    }
    #mint-cake {
        margin-left: 0;
        margin-right: 0;
        margin-top: 8%;

    }
    .second-section{
        height: 800px;
        margin: 10% 1%;
        padding-top: 0;
    }
    .second-section h1 {
        float: none;
        text-align: left;
        width: 100%;
        font-weight: 300;
        margin-left: 0;
        font-size: 60px;
    }
    #three-cake{
        width: 100%;
        background-size: 22%;
        margin-top: 8%;
    }
    #pastry-student{
        margin-top: 5%;
    }
    /*Recipe page*/
    #fraisier{
        object-fit: contain;
    }
    .recipy-p p{
        width: 100%;
        margin-top: 20%;
    }
    /*Pastry page*/
    .blog h1{
        font-size: 40px;
    }
    /*Contact page*/
    .form-section{
        background: url(../images/gentlecake.JPG) no-repeat center center;
        background-size: cover;
    }
}
/*Media Query-small screen*/

@media screen and (max-width: 950px) {
    #logo h1{
        font-size: 60px;
    }
    #sub-head{
        font-size: 10px;
    }
    #nav{
        font-size: 10px;
        display: grid;
        align-items: center;
        margin: 15% 0 0;
    }
    #nav li {
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    #logo-img{
        
    }



}
