/*font-family: 'League Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Montserrat:wght@100&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Footer Section*/
body {
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
}
header {
    padding: 0;
    text-align: center;
    font-size: 30px;
    list-style-type: none;
}
#logo{
    text-decoration: none;
    color: #DD818E;
}
h1 {
    display: inline;
    font-weight: normal;
    font-family: 'League Script', cursive;
    font-size: 100px;
    text-align: center;
}
#sub-head {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #4B2921;
    letter-spacing: 4px;

}

  
/*NAV section*/
#nav {
    padding-inline-start: 0;
    font-size: 50%;
    padding: 30px;
}
#nav li {
    display: inline-block;
}
#nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #4B2921;
    text-decoration: none;
    margin: 30px;
}
#nav a:hover {
    border-bottom: 1px double #F3ECED;
}
.active {
    border-bottom: 1px solid #F3ECED;
}
/*Main image and Slogan*/
figure {
    margin:0;
}
#logo-img {
    background: url("../images/IMG_6938.jpeg") no-repeat center center;
    background-size: 100%;

    background-position: 0px -80px;
    height: 600px;
    width: 100%;
    position: relative;
    background-attachment: scroll;
    overflow: hidden;
}

#logo-text {
    background: black;
    display: inline-block;
    text-transform: uppercase;
    left: 250px;
    bottom: 120px;
    position: absolute;
    
}
#logo-text h2 {
    color: #F3ECED;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

/*Section 1- About ME*/
aside {
    float: right;
    width: 20%;
    position: relative;
}
.aside{
    float: right;
    background-color: #FBF8F8;
    height: auto;
    width: 100%;
    position: relative;
    top: 40px
}
.aside h2 {
    text-align: center;
    padding: 10% 20% 5% 20%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #DD818E;
    text-transform: uppercase;
}
#aside-photo {
    background: url("../images/jasmin.jpg") no-repeat center center;
    background-size: 100%;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 50%;
    
}
.aside h4 {
    font-family: 'Montserrat', sans-serif;
    color: #4B2921;
    font-weight: 500;
}
.aside p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #4B2921;
    padding-right: 40px;
}

/*First Left Section*/

.first-left {
    float: left;
    width: 50%;
    position: relative;
    top: 40px;
    height: auto;
}
.first-left h1 {
    margin-left: 40px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}









  
